body {
  padding-top: var(--fixed-panels-top-offset);  
  padding-bottom: var(--fixed-panels-bottom-offset);
}

[data-fixed-panels] {
  position: fixed;
  left: 0;
  right: 0;
  z-index: var(--zindex-fixed);
}

[data-fixed-panels="top"] {
  top: var(--shop-insales-panel-height, 0);
}

[data-fixed-panels="bottom"] {
  bottom: var(--shop-insales-panel-height, 0);
}

[data-fixed-panels].is-no-layouts {
  position: relative;
}
