h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .heading {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--font-family-heading);
  line-height: 1.2;
  font-weight: 700;
}

h1, .h1 {
	font-size: calc(var(--font-size) * 2.5);

  @media screen and (max-width: 767px) {
    font-size: calc(var(--font-size) * 2);
  }
}

h2, .h2 {
	font-size: calc(var(--font-size) * 2);

	@media screen and (max-width: 767px) {
    font-size: calc(var(--font-size) * 1.5);
  }
}

h3, .h3 {
	font-size: calc(var(--font-size) * 1.75);

	@media screen and (max-width: 767px) {
    font-size: calc(var(--font-size) * 1.25);
  }
}

h4, .h4 {
	font-size: calc(var(--font-size) * 1.5);

	@media screen and (max-width: 767px) {
    font-size: calc(var(--font-size) * 1.125);
  }
}

h5, .h5 {
	font-size: calc(var(--font-size) * 1.25);

	@media screen and (max-width: 767px) {
    font-size: var(--font-size);
  }
}

h6, .h6 {
	font-size: var(--font-size);
}

.heading {
  font-size: calc(var(--font-size) * var(--heading-ratio, 2));
  font-weight: var(--heading-weight, 700);
  @media screen and (max-width: 767px) {
    font-size: calc( calc(var(--font-size) * var(--heading-ratio, 2)) * 0.75);
  }
}
