.SmartCaptcha-Shield {
  &_position_bottom {
    bottom: 14px !important;
  }

  &_position_right {
    transform: scale(0.8) translateX(-8%) !important;
  }

  &_position_left {
    transform: scale(0.8) translateX(8%) !important;
  }
}
