@import "1-settings/variables";

@import "2-generic/normalize",
        "2-generic/font-face",
        "2-generic/base";

@import "3-elements/text",
        "3-elements/heading",
        "3-elements/link",
        "3-elements/button",
        "3-elements/img",
        "3-elements/form";

@import "4-structure/page",
        "4-structure/fixed-panel";

@import "5-components/layout",
        "5-components/grid-column",
        "5-components/grid-list",
        "5-components/img-ratio",
        "5-components/font-size-factor",
        "5-components/static-text";
